
@import "compass/reset";
@import "compass/css3";
@import "mixins.scss";
@import "responsive.scss";
@import "vistas.scss";

body{
  background:$blanco;
  font-family: $tipo;
}
.front{
  #content-wrapper{
    display: none;
  }
}

.maxWidth{
  max-width: 1200px;
  margin: 0 auto;
}
// parte superior
.fullBanner{
  position: relative;
}
.mobilLogo{

}
.node-type-eventos{
  #main-content{
    margin-bottom: 30px;
  }
}
#block-block-11{
    position: absolute;
    right: 40px;
    bottom: 80px;
  figure{
    display: inline-block;
  }
}

.tofull{
  background: $grisClaro;
  font-family: $tipo;

  .region{
    @extend .maxWidth;
    @include flexo;
    padding: 24px 0;
      position: relative;
    // Search Form
    #block-search-form{
      width: 172px;
      margin-bottom: 12px;
      .container-inline{
        position: relative;
      }
      .form-item{
        input{
          background: $grisClaro;
          border: solid 1px $grisClaro2;
          font-size: 0.8em;
          padding: 7px 25px 7px 7px;
        }
      }

      .form-actions{
          position: absolute;
          right: 25px;
          top: 0;
        input{
          background: url('/sites/default/files/images/icons/lupa.png'), transparent;
          background-repeat: no-repeat;
          background-position: 8px 10px;
          border: none;
          width: 32px;
          height: 32px;
        }
      }
    }
    #block-block-1{
      width: 83%;
    }
  }
}

// menu de colores

.wrapMenuColores{
  nav{
    background: #727272;
    ul{
      @include flexo3;
      width: 100%;
    }
      li{
        a{
          display: inline-block;
          text-transform: uppercase;
          text-decoration: none;
          color: $blanco;
          font-family: $tipo;
          font-size: 12px;
          padding: 20px 14px;
          @include transicion(300ms);
        }
      }
      li:nth-child(1) a{
        &:hover{
          background: #008db8;
        }
      }
      li:nth-child(2) a{
        &:hover{
          background: #fca732;
        }
      }
      li:nth-child(3) a{
        &:hover{
          background: #dc192c;
        }
      }
      li:nth-child(4) a{
        &:hover{
          background: #03a245;
        }
      }
      li:nth-child(5) a{
        &:hover{
          background: #f27039;
        }
      }
      li:nth-child(6) a{
        &:hover{
          background: #1eb9e9;
        }
      }
      li:nth-child(7) a{
        &:hover{
          background: #97c63c;
        }
      }
      li:nth-child(8) a{
        &:hover{
          background: yellow;
          color: $negro;
        }
      }
      li:nth-child(9) a{
        &:hover{
          background: #dc192c;
        }
      }
  }
}


//logo
#block-block-8 {
    position: absolute;
    width: 100%;
    height: 0;
    text-align: center;
    .logo{
      text-align: center;
      width: 150px;
      margin: 0 auto;
      position: relative;
      img{
        width: 160px;
        height: auto;
        bottom: 100%;
        left:0;
        position: absolute;
      }
    }
}

.wrapHeader{
  @include flexo;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-bottom: -2px;
  .wrapMostrarMenu{
    margin-left: 20px;
    .mostrarMenu{
      color: $grisClaro2;
      font-size: 2em;
      display: none;
    }
    .logo{
      img{
        min-width: 167px;
      }
    }
  }
  .wrapEncuentrenos{
    border-right: solid 2px $grisClaro2;
    padding-right: 12px;
    margin-right: 12px;
  }
}

.ocultar{
  display:none!important;
}
.mostrar{
  display: block;
}


/*scroll to top*/
#toTop { position: fixed; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #999999; opacity: 0.4; filter: alpha(opacity=40);
width: 55px; height: 55px; bottom: 5px; right: 5px; cursor: pointer; color: #ffffff; font-size: 32px; text-align: center; display: none; padding:10px 0 0 2px; z-index: 14; }

#toTop:hover { opacity: 1; filter: alpha(opacity=100); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; -ms-transition: all 0.3s; transition: all 0.3s; }

// slider

section.slider{
  font-family: $tipo;
  position: relative;
  .wrapComands{
    position: absolute;
    right: 0;
    width: 20%;
    padding: 20px 0 20px 20px;
    .items{
      position: relative;
      cursor: pointer;
      padding: 20px 0;
      height: 72px;
      border-bottom: solid 1px #cecece;
      .text{

      }
      .textoOculto{
        display: none;
        p{
          font-size: 14px;
        }
      }
      .text {
          margin-left: 10px;
      }
      &:hover{
        background: $rojo;
        border-bottom: none;
        .textoOculto{
          display: block;
          color: $blanco;
        }
        .text{
          display: none;
          color: $blanco;
        }

        &:before{
          content: "";
          position: absolute;
          left: -16px;
          top: 0px;
          width: 0;
          height: 0;
          border-top: 34px solid transparent;
          border-bottom: 38px solid transparent;
          border-right: 16px solid $rojo;
        }
      }
    }
  }

  .wrapFotos{
    figure{
      img{
        @include wyh;
      }
    }
  }

}

// menu lateral

#block-block-6{
  display: none;
  position:absolute;
  left: 0;
}

.front .menuLateral{
  li.nofront{
    display: none;
  }
}
.not-front .menuLateral{
  li.toscroll{
    display: none;
  }
}

.menuLateral{
  position: absolute;
  z-index: 5;
  width: 275px;
  top:0;
  left:-290px;
  padding: 18px;
  background: $grisOscuro;
  font-family: $tipo;
  ul.menu{
    li{
      border-bottom: solid 1px $grisOscuro2;
      display: block;
      //@include transicion(300ms);
      img{
        width: 18px;
        height: auto;
        display: inline-block;
        margin-right: 6px
      }
      strong{
        font-weight: bold;
        display: block;
        padding: 5px 0;
        text-transform: uppercase;
        color: $blanco;
      }
      a{
        color: $blanco;
        padding: 8px 5px;
        display: inline-block;
        a:hover{
          color: $blanco;
        }
      }
      &:hover{
        background: $rojo;
        a{
          color: $blanco;
        }
      }
    }

  }
  .cierreMenu{
      color: white;
      text-align: right;
      font-size: 1.7em;
      cursor: pointer;
      @include transicion(300ms);
      &:hover{
        color: $rojo;
      }
  }
}
.mostrarMenu{
  cursor: pointer;
  @include transicion(300ms);
  &:hover{
    color: $rojo;
  }
}

.menuMostrar{
  @include keyframes(menutoggle){
    from{
      left:-275px;
    }
    to{
      left:0px;
    }
  }
  @include animation(menutoggle 300ms forwards ease-out);

}

.menuOcultar{
  @include keyframes(menutoggle2){
    from{
      left:0px;
    }
    to{
      left:-275px;
    }
  }
  @include animation(menutoggle2 300ms forwards ease-out);
}

// BLock Queremos Informarlo

.boton{
  color: $blanco;
  border: solid 1px $azul;
  padding: 8px 14px;
  @include transicion(300ms);
  font-size: 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover{
    background: $azul;
    color: $blanco;
  }
}

#block-block-3{
  background: #22c2ec;
  font-family: $tipo;
  padding: 40px 0;
  text-align: center;
  h2{
    text-transform: uppercase;
    color: $blanco;
    font-weight: bolder;
    font-size: 2em;
  }
  p{
    color: $blanco;
    margin: 20px auto;
    max-width: 75%;
    line-height: 25px;
  }
  .raya{
    width:40px;
    height: 2px;
    background: $verde;
    margin:20px auto 0 auto;
  }
}

////////////////////////
//**************** Footer
#footerTotal{
  .tofull{
    padding: 0;
  }
}
.tofull{
  .region-footertotal{
    max-width: 100%!important;
  }
}

#block-block-5{
  padding: 20px 0;
  font-family: $tipo;
  width: 100%;
  section.footer{
    font-family: $tipo;
    .wrapIconsFooter{
      padding: 30px 0;
      max-width: 60%;
      margin: 0 auto;
      @extend .maxWidth;
      @include flexo;
      @include justify-content(space-between);
      .item{
        text-align: center;
        figure{
          cursor: pointer;
          img{
            &:hover{
              opacity: 0.7;
            }
          }
        }
        h2{
          font-size: 1.5em;
          text-transform: uppercase;
          font-weight: bold;
          padding: 14px 0;
        }
      }
    }

    .wrapFooterBottom{
      border-top: solid 1px $grisClaro2;
      padding-top: 20px;
      .wrapFooterElements{
        width: 85%;
        margin: 0 auto;
      }
      p.textFooter{
        color: $grisTxt;
        text-transform: uppercase;
      }
      .wrapRedesSociales{
        float: right;
        figure{
          display: inline-block;
          a{
            img{
                &:hover{
                  opacity:0.7;
                }
            }
          }
        }
      }
    }
  }
}

// resultados de búsquedas

.page-search{
  font-family: $tipo;
  .search-form{
    h2{
      text-align: center;
      padding: 30px 0;
    }
  }
  ol.search-results{
    li{
      margin-bottom: 20px;
      h3{
        padding: 14px;
        a{
          color: $negro;
        }
      }
      .search-snippet-info{

      }
      .search-result{
        margin-bottom: 25px;
        p{
          font-size: 0.8em;
          color: $grisTxt;
        }
        .search-info{
          display: none;
        }
      }
    }
  }
}

// pagina encuéntrenos

.page-node-51{
  h1.page-title{
    background:$celeste;
    padding: 12px 20px;
    font-family: $tipo;
    font-size: 2em;
    display: inline-block;
    color: $blanco;
    margin-bottom: 20px;
    padding-left: 50px;
    position: relative;
    text-transform: uppercase;
    height: 56px;
    &:after{
      position: absolute;
      right: -20px;
      top: 0px;
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 26px solid transparent;
      content: "";
      border-left: 20px solid $celeste;
    }
    &:before{
      background: url('/sites/default/files/images/icons/encuentrenosen.png');
      background-size: 30px;
      background-repeat: no-repeat;
      position: absolute;
      left: 10px;
      top: 10px;
      content: "";
      width: 40px;
      height: 40px;
    }
  }
}

// encuentrenos
.page-bibliotecas{
  h1.page-title{

  }
}



// pagina encuéntrenos


// ****** TIPO CONTENIDO Eventos

.node-type-eventos{
  font-family: $tipo;
  .page-title{
    display: none;
  }
  .field-item{
    margin-bottom: 20px;
    label{
      font-weight: bold;
    }
    p{
      line-height: 18px;
    }
  }
  .field-name-field-imagen{
    .field-item{
      border: solid 10px $grisClaro3;
    }
    img{
      @include wyh;
    }
  }
  .field-name-title{
    h2{
      color: $rojo;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 1.3em;
    }
  }
  .field-name-field-nombre-actividad{
    font-size: 1.3em;
  }
  .field-name-field-descripcion-actividad{

  }
  .field-name-field-fecha{

  }
  .field-name-field-telefono{

  }
  .field-name-field-precio{

  }
  .field-name-field-ugar{

  }
  .field-name-field-categoria{
    a{
      &:hover{
        color:lighten($rojo, 30%);
      }
    }
  }
}

// caja de contatenos
#block-block-9 {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    .content{
      width: 100%;
      height: 100%;
      @include flexo3;
    }
}
section.wrapContactenos {
    background: rgba(0,0,0, 0.8);
    color: white;
    font-family: 'Helvetica';
    text-align: center;
    padding: 50px 30px;
    max-width: 400px;
    margin: 0 auto;
    line-height: 28px;
}

// Eventos Navidad

.node-type-evento-navidad{
  .page-title{
    display: none;
  }
  .field-name-field-foto-evento{
    img{
      @include wyh;
    }
  }
  .field-name-field-fecha-navidad{
    font-family: $tipo;
    font-size: 2em;
    color: $rojo;
    margin-bottom: 30px;
    strong{
        font-weight: bold;
        font-weight: 800;
    }
  }
  .field-name-field-actividades-navidad{
    table{
      width: 100%;
      font-family: $tipo;
      font-size: 1em;
      strong{
        font-weight: bolder;
        font-weight: 800;
      }
    }
  }
}

// Block de navidad "compartamos juntos.."
#block-block-13{
  background: $rojo;
  padding: 40px 0;
  text-align: center;
  h2, p{
    color: $blanco;
  }
  p{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

// Eventos 2019

.node-type-eventos-2019{
  font-family: $tipo;

  .node-eventos-2019{
    .field{
      margin-bottom: 16px;
    }
  }
  .page-title{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

#block-block-14{
  position: relative;
}

// Calendario

.front{
  .wrapCalendario{
    position: absolute;
    left:15%;
    top: 30px;
    z-index: 5;
    width: 90%;
    max-width: 360px;
    h2{
      font-size: 20px;
      color: $blanco;
      padding: 0px;
    }
    h3{
      font-size: 16px;
    }
    .wrapdiasmes{
      ul{
        li{
          a{
            font-size: 1.3em;
          }
          a.current{
            background: $azul;
            font-weight: bold;
            color: $blanco;
            padding: 6px;
          }
        }
      }
    }
  }
}

.wrapCalendario{
  font-family: $tipo;
  .wrapFechas{

  }
  h2{
    text-transform: uppercase;
    color: $celeste;
    text-align: center;
    padding: 20px;
  }
  h3{
    background: $celeste;
    color: $blanco;
    padding: 8px 0;
    text-transform: uppercase;
    text-align: center;
  }
  .sietedias, .wrapdiasmes{
    background: $blanco;
    ul{
      li{
        width: 14%;
        padding: 10px;
      }
    }
  }
  .sietedias{
    ul{
      @include flexo2;
      li{

      }
    }
  }

  .wrapdiasmes{
    ul{
      @include flexo3;
      @include flex-wrap(wrap);
      @include justify-content(start);
      li{
        a{
          color: $azul;
          @include transicion(300ms);
          &:hover{
            color: $naranja;
          }
        }
        a.current{
          background: $azul;
          font-weight: bold;
          color: $blanco;
          padding: 6px;
        }
      }
    }
  }

}

// esconder la taxonomía del día
.field-name-field-taxofecha, .page-taxonomy .page-title{
  display: none;
}

/* iconos front page */

#block-block-16{
  padding: 20px;
  background: #dcd7d7;
  .linktoCatgs{
    @include flexo3;
    @include flex-wrap(wrap);
    @include justify-content(space-around);
    figure{
      text-align: center;
      min-width: 130px;
      a{
        display: block;
      }
    }
    img{
      margin: 6px auto;
      @include transicion(300ms);
      &:hover{
        opacity: 0.7;
        @include transform(rotateZ(30deg));
      }
    }
  }
}


#block-block-17{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0093be+0,2aa499+100 */
  background: #0093be; /* Old browsers */
  background: -moz-linear-gradient(left,  #0093be 0%, #2aa499 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #0093be 0%,#2aa499 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #0093be 0%,#2aa499 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0093be', endColorstr='#2aa499',GradientType=1 ); /* IE6-9 */

  padding: 30px 0 30px 15%;
  font-family: $tipo;
  color: $blanco;
  h1{
    text-transform: uppercase;
    font-size: 2em;
  }
}

.provincias{
  width: 100%;
  max-width: 1100px;
  margin: 16px auto;
  ul{
    @include flexo3;
    @include flex-wrap(wrap);
  }
  li{
    width: 12%;
    min-width: 80px;
    text-align: center;
    a{
      color: $azul;
      text-transform: uppercase;
      font-family: $tipo;
      @include transicion(300ms);
      &:hover{
        color: $verde;
      }
    }
  }
}

.tofull .region #block-search-form .form-actions{
 right:40px!important;
}

// fondo pastoras para navidad 2018
/*
#main-content{
  background-image: url(/sites/default/files/images/pastora-derecha.png), url(/sites/default/files/images/pastora-izquierda.png);
  background-position: right 8%, left 62%;
  background-repeat: no-repeat, no-repeat;
  background-size: 20%, 20%;
  background-attachment: fixed, fixed;
}
*/
